.card {
    width: 350px;
    padding: 1em;
    cursor: pointer;
}

.imgFluid  {
    border-radius: 7px;
}

.cardBody {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardText {
    margin-bottom: 0;
}

.divButtonsInCard {
    display: flex;
    margin-top: 3em;
}

.btnInCard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 50px;
    text-align: center;
}

.textDates {
    font-weight: bold;
}

.divDates {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.divLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.textLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}