#root {
    text-align: unset;
}

.form {
    display: flex;
    flex-direction: column;
}

.mainContainer {
    width: 600px;
    height: 100%;
}

.formGroup {
    margin: 10px 0;
}

label {
    margin-bottom: 5px
}